# annot-dict.desktop
# 4/1/2012
[Desktop Entry]
X-AppInstall-Package=annot-dict
#X-AppInstall-Popcon=63720
X-AppInstall-Section=universe

Version=0.1.2.0
Name=Annot Translator
Comment=Japanese Translator
Exec=annot-dict %U
Icon=annot-dict
Terminal=false
Type=Application
Categories=Network;Translator;
#MimeType=text/html;text/xml;application/xhtml_xml;x-scheme-handler/http;x-scheme-handler/https;x-scheme-handler/ftp;
#X-KDE-Protocols=ftp,http,https,sftp

#X-Ubuntu-Gettext-Domain=app-install-data

# EOF
